<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="register.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="login-container">
  
  <form (submit)="onSubmit()">
    
   
      <input matInput placeholder="Username" type="text" [(ngModel)]="username" name="username">
  

      <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
    <button mat-raised-button color="primary" type="submit">Register</button>
   

</form>
</div>

</body>
</html>

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="register.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="signup-container">
    <h2>Create Account</h2>
    <form (submit)="onSubmit()">
    
   
      <input matInput placeholder="Username" type="text" [(ngModel)]="username" name="username">
      <input matInput placeholder="Email" type="text" [(ngModel)]="email" name="email">
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
      <button mat-raised-button color="primary" type="submit">Register</button>
        <div class="additional-links">
            <p>Already have an account? <a routerLink="/login">Log in</a></p>
        </div>
    </form>
</div>

</body>
</html>
